<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>——欧米兰批发商城——</div>
      <div>
        <span>时&nbsp;&nbsp;&nbsp;&nbsp;间：</span>
        <span>{order.at_crt}</span>
      </div>
      <div>
        <span>收银员：</span>
        <span>前台</span>
      </div>
      <div>
        <span>单&nbsp;&nbsp;&nbsp;&nbsp;号：</span>
        <span>{order.code}</span>
      </div>
      <div>
        <span>货品/数量</span>
        <span>单价</span>
        <span>折扣</span>
        <span>金额</span>
      </div>
      <div>————————————————</div>
      <div>
        <div>KIEHLS RARE EARTH DEEP PORE</div>
        <div>科颜氏亚马逊白泥精致之面膜</div>
        <div>
          <span>1</span>
          <span>29.50</span>
          <span>0</span>
          <span>29.50</span>
        </div>
      </div>
      <div>————————————————</div>
      <div>
        <div>
          <span>数量：</span>
          <span>5</span>
          <span>总额：</span>
          <span>104.5</span>
        </div>
        <div>
          <span>折扣：</span>
          <span>5</span>
          <span>应收：</span>
          <span>104.5</span>
        </div>
        <div>
          <span>实收：</span>
          <span>5</span>
          <span>找零：</span>
          <span>104.5</span>
        </div>
      </div>
      <div>——欧米兰批发商城——</div>
    </div>
  </body>
</html>
